input[type=text]:focus {
    border: none;
}

.mainDiv {
    display: flex;
}

.sec1 {
    width: 50vh;
    height: 100vh;
    background-color: rgb(233, 233, 233);
    box-shadow: 4px 2px 5px rgba(133, 133, 133, 0.338);
}

.sec1 > div {
    width: 40vh;
    margin: auto;
    margin-top: 2vh;
    
}

.username > h1 {
    font-weight: bold;
    width: 26vh;
    margin: auto;
    font-size: 17px;
}

.username > h2 {
    width: 20vh;
    margin: auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.597);
}

.sec1 > h1 {
    font-family:fantasy;
    word-spacing: 2vh;
    font-size: 6vh;
    margin-left: 9vh;
    padding-top: 7vh;    
    position: relative;
}

/* Followers and following */
.follow
{
    display: flex;
    padding-top: 3vh;
    margin-right: 5vh;
}
.post {
    border-right: 2px solid rgba(152, 150, 150, 0.597);
}
.post > h1 {
    font-size: 18px;
    font-weight: bolder;
    padding-right: 5vh;
    padding-left: 2vh;
}

.post > h3 {
    font-size: 15px;
    margin-right: 1vh;
}

.followers {
    border-right: 2px solid rgba(152, 150, 150, 0.597);
    width: 15vh;
    justify-content: center;
}

.followers > h1 {
    font-size: 18px;
    font-weight: bolder;
    /* padding-right: 5vh; */
    padding-left: 6.5vh;
}

.followers > h3 {
    font-size: 15px;
    margin-right: 1vh;
    width: 15vh;
    justify-content: center;
}

.following > h1 {
    font-size: 18px;
    font-weight: bolder;
    padding-right: 10vh;
    padding-left: 38px;
}

.following > h3 {
    font-size: 15px;
    padding-left: 2.5vh;
}

/* Inner Pages */
.InPages {
    padding-top: 3vh;
}
.explore {
    display: flex;
    margin-left: 1vh;
    padding: 1px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 2vh;
}

.explore > button {
    display: flex;
}

.explore:hover {
    background-color: rgb(42, 42, 42);
    color: rgb(213, 213, 213);
}

.explore > button > h1 {
    margin-left: 1.5vh;
}
.forYou {
    display : flex;
    margin-top: 1.5vh;
    margin-left: 1vh;
    padding: 1px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 2vh;
}

.forYou > button {
    display: flex;
}

.forYou:hover {
    background-color: rgb(42, 42, 42);
    color: rgb(213, 213, 213);
}
.forYou > button > h1 {
    margin-left: 1.5vh;
}

.profile {
    display: flex;
    margin-top: 1.5vh;
    margin-left: 1vh;
    padding: 1px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 2vh;
}
.profile > button {
    display: flex;
}
.profile:hover {
    background-color: rgb(42, 42, 42);
    color: rgb(213, 213, 213);
}


.profile > button > h1 {
    margin-left: 1.5vh;
}

.logout  {
    border-top: 2px solid gray;
    display: flex;
    cursor: pointer;
}
.logout > div {
    padding: 0px;
    width: 100%;
    display: flex;
    font-size: 15px;
}
.logout > div:hover {
    color: rgb(168, 0, 9);
}
.logout > div > h1 {
    display : flex;
    margin-top: 2.5vh;
    margin-left: 1.5vh;
}


.sec2 {
    width: 161vh;
    margin-left: -10vh;
}

.search {
    margin-left: 7vh;
    height: 12vh;
    width: 153vh;
    display: flex;
}

.searchBox {
    margin-top: 2vh;
    margin-left: 2vh;
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 1vh;
    border: 2px solid rgba(6, 6, 6, 0.772);
    border-radius: 2vh;
    width: 50vh;
    height: 8.5vh;
    box-shadow: 4px 2px 5px rgba(116, 116, 116, 0.338);
}

.searchBox > input {
    padding-top: 2px;
    font-size: 2.7vh;
}

/* input[type=text]:focus {
    border: 3px solid #ffffff;
  } */


.addBtn > button {
    margin-top: 3vh;
    margin-left: 55vh;
    width: 20vh;
    height: 7vh;
    background-color: rgb(33, 33, 33);
    color: aliceblue;
    border-radius: 1.4vh;
}


.posts {
    /* border: 2px solid rebeccapurple; */
    margin-left: 7vh;
    margin-top: 2vh;
    width: 153vh;
    height: 82vh;
    display: flex;
}
.PandS{
    /* border: 2px solid salmon; */
    width: 105vh;
}

.PandS > h1 {
    font-size:20px;
    font-weight: bolder;
    margin-left: 2vh;
}

.content {
    margin-right: 8vh;
    height: 77.7vh;
    padding-right: 7vh;
    padding-left: 7vh;
    padding-top: 5vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
  }

.content-post {
    border: 2px solid rgb(69, 69, 69);
    border-radius: 15px;
    height: auto;
    margin-bottom: 4vh;
}

.post-div1 {
    border-bottom: 1px solid rgb(8, 8, 8);
}

.content-post > div > div > h2 {
    padding-top: 1.5vh;
    margin-left: 1vh;
    font-size: 16px;
    font-weight: bolder;
}

.content-post > div > div > h3 {
    margin-top: -0.3vh;
    margin-left: 1vh;
    font-size: 12px;
    cursor: pointer;
}

.content-post > div > button {
    border: 2px solid rgb(147, 11, 11);
    height: 4.5vh;
    width: 15vh;
    margin-top: 2vh;
    margin-left: 35vh;
    border-radius: 10px;
    font-weight: 500;
    color: rgb(147, 11, 11);
}

.content-post > div > button:hover {
    background-color: rgb(240, 111, 111);
    border-color: rgb(230, 60, 60);
    color: white;
}

.content-post >img {
    height: 10vh;
    width: 99.985%;
    height: 70%;
}

.about-post > div{
    margin-left: 1vh;
    margin-top: 1.5vh;
    font-size: 14px;
    color: rgb(147, 11, 11);
    height: auto;
}

/* All about comments */

.comment-load-main-div{
    margin-bottom: 2vh;
}

.comment-name-username {
    margin-left: 1vh;
}

.comment-name-username > h2 {
   font-size: 16px;
   font-weight: 600;
}

.comment-name-username > h3{
    font-size: 13px;
}

.comment-pTag {
    /* border: 2px solid red; */
    margin-left: 7vh;
    margin-top: -3.5vh;
    height: auto;
}

.comment-pTag > p {
    font-size: 14px;
}

.reactions {
    padding-top: 2px;
    margin-top: 2vh;
    padding-left: 2vh;
}

.creator {
    width: 48vh;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    padding: 10px 0px;
    border: 1px solid black;
    height: 83.5vh;
}

/* .creator > img {
    width: 90%;
    height: 50%;
    margin-left: 2.5vh;
    border-radius: 10px;
} */

.creator > h2 {
    padding-top: 3vh;
    margin-left: 2.5vh;
    font-size: 18px;
    font-weight: bold;
}

.creator-followers {
    display: flex;
    margin-left: 2.5vh;
}

.creator-followers > h1{
    font-weight: bold;
    margin-right: 1vh;
}

.creator-following {
    padding-left: 3vh;
    display: flex;
}

.creator-following > h1{
    font-weight: bold;
    margin-right: 1vh;
}

.creator_summary {
    padding: 1vh 2.5vh;
    font-size: 14px;
}

.creator-favourite-foods > h1{
    font-weight: bolder;
    margin-left: 2.5vh;
}