.Add-post-Upload-button-div{
    margin-left: 43vh;
}

.flex-input {
    display: flex;
}

.flex-input > input{
    border: 2px solid #000000;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 2.2vh;
    width: 39.6vh;
    margin-left: 23vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
    color: #000000;
}

.flex-input > input::placeholder {
    color: rgb(0, 0, 0);
}

#flex-input2 {
    /* margin-right: 100vh; */
    position: relative;
    right: 20vh;
}

.sub-div >img {
    height: 10vh;
    width: 39.985%;
    height: 20%;
    margin-left: 40vh;
    border : 2px solid black;
    position: relative;
    top: -3vh;
}

.post-button {
    position: relative;
    top: -83.5vh;
    left: 23vh;
    color: aliceblue;
    border: 2px solid #000000;
    padding: 0.5vh 4vh;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 15vh;
    margin-top: 3vh;
    margin-left: 87vh;
    background-color: #000000; /* Updated background color */
    color: #ffffff;
}

.post-button:hover {
    border: 2px solid black;
    background-color: #ffffff;
    color: #000000;
}

.creator > button {

    border: 2px solid black;
    border-radius: 10px;
    margin-top: 4vh;
    height : 5vh;
    width:  18vh;
    margin-left: 10vh;
}